h1 {
	font-family: 'Arial';
	color: darkgreen;
	text-align: center;
}

form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 16px;
	margin-left: 80px;
	gap: 40px;
}

input {
	border-radius: 15px;
	border: 1px solid darkgreen;
	padding: 10px;
}

.customerInfo, .partydetails, .deliverydetails{
	border: 4px solid darkgreen;
	border-radius: 10px;
	font-family: 'Arial';
	padding: 10px;
	margin-bottom: 20px;

}

#cake {
	font-size: 200px;
	margin-left: 15px;
}

.customerInfo, .partydetails, .deliverydetails {	
	color: darkgreen;
	font-weight: bold;
}

.customerInfo {
	width: 350px;
}

.partydetails {
	width: 500px;
}

.deliverydetails {
	width: 350px;
}

#name, #mobileNum, #emailAdd{
	margin-top:10px;
	margin-bottom: 10px;
	width: 80%;

}

#submit, #reset {
	border-radius: 50px;
	font-size: 16px;
	padding: 10px;
	margin-left: 50px;
	width: 10%;
	margin-bottom: 20px;
}

#submit{
	background-color: white;
	color: darkgreen;
	border: solid 1px darkgreen;
}

#reset{
	background-color: darkgreen;
	color: white;
	border: none;
}